.main-page__logo {
	height: 65px;
	display: flex;
	align-items: center;
	margin: 0 0 0 20px;
	padding: 0;
}

.main-page__logo-img {
	width: 33px;
	height: 38px;
}

@media (min-width: 768px) {
	.main-page__logo-img {
		width: 173px;
		height: 58px;
	}
}

@media (min-width: 1250px) {
	.main-page__logo-img {
		width: 202px;
		height: 59px;
	}
}

.main-page__logo-description {
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 auto;
	position: relative;
	left: -25px;
	.logo-description__first-word {
		font-weight: bold;
	}
	.logo-description__second-word {
		font-weight: normal;
	}
}

.main-page__mobile-nav__list {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.main-page__mobile-nav__item {
	width: 100%;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	text-transform: uppercase;
	border-top: 1px solid #F2F2F2;
	&:last-child {
		border-bottom: 1px solid #F2F2F2;
	}
}

@media (min-width: 768px) {
	.main-page__logo-description {
		display: none;
	}
	.main-page__mobile-nav {
		display: none;
	}
	.main-page__nav-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
		padding-right: 31px;
	}
	.main-page__list {
		display: flex;
		text-transform: uppercase;
		.current {
			border-bottom: 2px solid #68B738;
		}
	}
	.main-page__item {
		&:nth-child(even) {
			margin: 0 34px 7px;
		}
	}
}

.main-page__header-block {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-page__title-block {
	width: 100%;
	min-height: 305px;
	text-align: center;
	color: #fff;
	background: url(../images/Index/Head/Mobile/Background-mobile.jpg) no-repeat;
	background-size: 100% auto;
	background-position: center;
}

@media (min-width: 768px) {
	.main-page__header-block {
		max-width: 709px;
		display: flex;
		flex-direction: column;
		position: relative;
		margin: 0 auto;
	}
	.main-page__title-block {
		display: flex;
		flex-direction: column;
		padding-left: 87px;
		text-align: start;
		color: #000;
		background: none;
	}
}

.main-page__title-one {
	margin: 0;
	margin-bottom: 15px;
	padding-top: 30px;
	font-size: 36px;
	font-weight: normal;
	line-height: 40px;
}

.main-page__title-two {
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.main-page__title-one {
		font-size: 60px;
		margin-bottom: 35px;
		line-height: 60px;
	}
	.main-page__title-two {
		font-size: 20px;
	}
}

.main-page__img-product {
	width: 280px;
	height: 271px;
	margin-top: -136px;
}

@media (min-width: 768px) {
	.main-page__img-product {
		width: 709px;
		height: 609px;
		margin-left: -180px;
		margin-top: -75px;
	}
}

.header-block__button-wrapper {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}

.header-block__button {
	font-family: "Oswald", sans-serif;
	color: #fff;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.header-block__button-wrapper {
		width: 245px;
		height: 52px;
		position: absolute;
		top: 262px;
		left: 45px;
		padding: 0;
	}
	.header-block__button {
		font-size: 20px;
		font-weight: normal;
	}
}