// Блок категорий товара

.categories__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 20px;
	padding-left: 0;
}

.categories__item {
	width: 100%;
	position: relative;
	margin: 22px 0 20px;
	background-color: #F2F2F2;
}

.categories__item__title {
	position: relative;
	display: flex;
	align-items: center;
	margin: 22px 0 0 33px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
	&::after {
		content: "";
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #68B738;
		border: none;
		border-radius: 50%;
	}
}

.title-one::after {
	left: -7px;
	top: 3px;
}

.title-two {
	margin-left: 17px;
	margin-top: 32px;
	&::after {
		left: 9px;
		top: -7px;
	}
}

.categories__item__title-img {
	margin-right: 26px;
	z-index: 1;
}

.title-img-two {
	margin-right: 11px;
}

.categories__item__description {
	margin: 25px 20px 0 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.categories__item__link-wrapper {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	cursor: pointer;
}

.categories__item__link {
	width: 100%;
	height: 58px;
	display: flex;
	align-items: center;
	margin-top: 25px;
	text-transform: uppercase;
	border-top: 1px solid rgba(112, 112, 112, .1);
}

// Блок с преимуществами

.advantages__wrapper {
	margin: 0 20px;
	padding-bottom: 27px;
	box-sizing: border-box;
}

.advantages__title {
	font-size: 36px;
	font-family: "Oswald", sans-serif;
	font-weight: normal;
}

.advantages__item {
	display: flex;
	height: 60px;
	align-items: center;
	margin-bottom: 20px;
}

.advantages__item-img {
	min-width: 60px;
	height: 60px;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	background-color: #68B738;
	&::before {
		content: "";
		width: 60px;
		height: 60px;
		position: absolute;
		margin: 0;
		padding: 0;
		top: 5px;
		left: 5px;
		background-size: 60px 60px;
	}
}

.advantages__img {
	&-1::before {
		background: url(../images/Index/Advantages/advantage-1.svg) no-repeat;
	}
	&-2::before {
		background: url(../images/Index/Advantages/advantage-2.svg) no-repeat;
	}
	&-3::before {
		background: url(../images/Index/Advantages/advantage-3.svg) no-repeat;
	}
	&-4::before {
		background: url(../images/Index/Advantages/advantage-4.svg) no-repeat;
	}
}

.advantages__item-description {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

// Блок До и После

.before-after {
	width: 100%;
	background-color: #F2F2F2;
	&__wrapper {
		padding: 20px;
	}
}

.before-after__title {
	margin: 0;
	font-size: 36px;
	font-weight: normal;
}

.before-after__description {
	font-family: Arial, Helvetica, sans-serif;
}

.before-after__features__list {
	display: flex;
	justify-content: space-between;
}

.before-after__features__item {
	width: 124px;
	height: 55px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0 20px;
	font-size: 23.6px;
	text-transform: uppercase;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	&::after {
		content: "";
		width: 80px;
		height: auto;
		position: absolute;
		bottom: -17px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 12px;
		text-align: center;
		text-transform: lowercase;
		background-color: #f2f2f2;
	}
}

.features__item {
	&-1::after {
		content: "снижение веса";
	}
	&-2::after {
		content: "затрачено времени";
	}
}

.before-after__title-two {
	margin-bottom: 20px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
}

.before-after__img-wrapper {
	max-width: 200px;
	display: flex;
	justify-content: center;
	padding-bottom: 80px;
	position: relative;
	margin: 0 auto;
}

.before-after__img-after {
	display: none;
}

.before-after__radio-before,
.before-after__radio-after {
	position: absolute;
	appearance: none;
}

.before-after__radio {
	display: block;
}

.before-after__before-label {
	position: absolute;
	bottom: 36px;
	left: 10px;
}

.before-after__after-label {
	position: absolute;
	bottom: 36px;
	right: 10px;
}

.before__radio-customize {
	width: 84px;
	height: 14px;
	display: block;
	position: absolute;
	bottom: 38px;
	background-color: #fff;
	border: 1px solid #CDCDCD;
	border-radius: 10px;
	&::before {
		content: "";
		width: 35px;
		height: 6px;
		position: absolute;
		background-color: #68B738;
		border-radius: 10px;
		top: 4px;
		left: 6px;
	}
}

.after__radio-customize {
	width: 84px;
	height: 14px;
	display: block;
	position: absolute;
	bottom: 38px;
	background-color: #fff;
	border: 1px solid #CDCDCD;
	border-radius: 10px;
	&::after {
		content: "";
		width: 35px;
		height: 6px;
		position: absolute;
		background-color: #68b738;
		border-radius: 10px;
		top: 4px;
		right: 6px;
	}
}

.before-after__radio-before:checked ~ .before-after__img-before,
.before-after__radio-after:checked ~ .before-after__img-after,
.before-after__radio-before:checked ~ .before__radio-customize,
.before-after__radio-after:checked ~ .after__radio-customize {
	display: block;
}

.before-after__radio-before:checked ~ .before-after__img-afer,
.before-after__radio-after:checked ~ .before-after__img-before,
.before-after__radio-before:checked ~ .after__radio-customize,
.before-after__radio-after:checked ~ .before__radio-customize {
	display: none;
}


// Блок Котакты

.contacts__wrapper {
	margin-bottom: -4px;
}

.contacts__invite-address__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 26.3px 0 25px;
	padding: 0 20px;
}

.contacts__invite,
.contacts__address {
	width: 140px;
	display: block;
}

.contacts__invite {
	text-transform: uppercase;
	font-size: 16px;
}

.contacts__address {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.contacts__img-map {
	width: 100%;
	height: 362px;
	object-fit: cover;
}

// Подвал

.footer__block {
	width: 100%;
	height: 100%;
	background-color: #F2F2F2;
}

.footer__wrapper {
	padding-top: 10px;
}

.footer__link-block {
	width: 100%;
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
	&__one {
		font-weight: bold;
		display: block;
		margin-right: 8px;
	}
	&__two {
		font-weight: normal;
		display: block;
	}
}

.footer__link {
	width: 100%;
	height: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__socials-block {
	height: 62px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #CDCDCD;
}

.footer__social-icons {
	display: flex;
	justify-content: center;
	align-items: center; 
}

.footer__social-icons__item {
	width: 30px;
	height: 30px;
	&:nth-child(even) {
		margin: 0 20px;
	}
}

.footer__insta,
.footer__vk,
.footer__fb {
	width: 30px;
	height: 30px;
}

.footer__insta {
	background: url(../images/Index/Footer/Mobile/m-insta.svg) no-repeat;
	background-position: center center;
}

.footer__vk {
	background: url(../images/Index/Footer/Mobile/m-vk.svg) no-repeat;
	background-position: center center;
}

.footer__fb {
	background: url(../images/Index/Footer/Mobile/m-fb.svg) no-repeat;
	background-position: center center;
}