.button {
	width: 100%;
	height: 40px;
	background-color: $main-color;
	border: none;
	cursor: pointer;
	&:hover {
		background-color: #5eaa2f;
	}
	&:active {
		background-color: #5eaa2f;
		color: rgba(255,255,255,.3);
	}
}