body {
  min-width: 320px;
  margin: 0;
	padding: 0;
	box-sizing: border-box;	
  font-size: 15px;
	font-family: "Oswald", sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

li {
  margin: 0;
  padding: 0;
	list-style: none;
}

a {
  display: block;
  text-decoration: none;
	color: #000;
}

blockquote {
	margin: 0;
}

td {
	vertical-align: top;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
	margin: -1px;
}

@import "variables";
@import "font";
@import "button";

@import "index/head";
@import "index/main";
@import "index/footer";

@import "catalog/head";
@import "catalog/main";