.catalog-header {
	@media (min-width: $tablet) {
		.main-page__logo {
			margin: 0;
		}
		.main-page__nav-wrapper {
			padding: 20px 30px 0;
			box-sizing: border-box;
		}
	}
	@media (min-width: $desktop) {
		.main-page__nav-wrapper {
			width: 1220px;
			margin: 0 auto;
			padding: 20px 0 0;
		}
		.main-page__nav-item__link {
			color: #000;
		}
		.current {
			border-color: #000;
		}
	}
}